<%= erb :_sidebar %>

<div class="main-content pull-right">
    <div class="container">
    <form action="/category/<%= @category.id %>/document/new" method="post" enctype="multipart/form-data">
      <input type="file" name="files[]" multiple required>
      <button class="btn btn-success" type="submit" name="action">Add file
      </button>
    </form>
    
  <div class="documents"> 
    <% @category.documents && @category.documents.each do |doc| %>
    <% name, type = doc.file.url.match(/\/\w+\/(\w+)(?:\.(\w+))?/).captures %>
      <div class="file col-sm-4">
        <% if type == 'jpg' %>
          <span class="glyphicon glyphicon-file" aria-hidden="true"></span><br>
        <% elsif type == 'pdf' %>
          <img src="http://www.agtphotomount.com/PDF-logo.png" />
        <% end %>
        <a href="<%= doc.file.url %>"><%= name %></a>
        
      </div>
      <% end %>
    </div>
  </div>
</div>  