body { font-family: Roboto, Arial, sans-serif; font-weight: lighter; margin: 0; overflow-y: scroll; }

a { 
  text-decoration: none;
  font-family: 'Architects Daughter', cursive; 
}
a:link {}
a:visited{}
a:hover {}
a:active{}
a:focus{}

a#logo {
  font-family: 'Special Elite', cursive;
  font-size: 2em;
}

nav {
  position: fixed;
  background: rgba(0,0,0,.15);
  left: 0;
  padding: 0 1em;
  right: 0;
  top: 0;
  z-index: 1;
}
nav,
nav a {
  color: rgb(255,255,255);
  padding: 1em;
  line-height: 1em;
  display: inline-block; padding: 1em;
}
 
nav .login {float: right;}
nav .brand {float: left;}

.slick-slide {
 height: 600px;
 width: 100%;
}

.slick-slide img {
  height: 600px;
  width: 100%;
}

.jumbotron {
  top: -20%;
  right: 0;
  left: 0;
  position: absolute;
  background-size: cover;
  color: rgb(255,255,255);
  position: absolute;
  }

.jumbotron header {
  text-align: center;
  left: 0;
  right: 0;
  top: o;
  width: 100%;
  height: 300px;
  transform: translateY(-50);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#main {
  margin-top: 5em;
  padding:1em 1em 1em;
}

h1#call {
  font-size: 5em;
  font-family: 'Architects Daughter', cursive;
  font-style: bold;  
  color: rgb(255,255,255);  
  text-shadow: 4px 0px 7px rgba(0, 0, 0, 1);
}

h1#hook {
  margin-top: 5em;
  font-family: 'Helvetica';
  font-size: 4em;
}

p {
  font-size: 2em;
  font-family: 'Architects Daughter', cursive;
}

p#blurb {
  color: rgb(255,255,255);
  text-shadow: 4px 0px 7px rgba(0, 0, 0, 1);
}

body {
  /*background: #eee !important;*/
  background: url('../images/bedge_grunge_@2X.png');
}


.wrapper {  
  margin-top: 80px;
  margin-bottom: 80px;
}

/*End hugh category styling*/
.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

  .form-signin-heading,
  .checkbox {
    margin-bottom: 30px;
  }

  .checkbox {
    font-weight: normal;
  }

  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);

    &:focus {
      z-index: 2;
    }
  }

  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.documents {
  margin-top: 2em;
  font-size: 2em;
  font-family: 'Architects Daughter', cursive;
}

.documents a {
  padding: 1em;
}

.documents div {
  float: left;
  margin-bottom: 2em;
}

div.file img {
  height: 100px;
  width: 80px;
}
.file {
  text-align: center;
}

input[type='file'] {
  height: 30px;
  font-size: 18px;
}

.side-nav {
  position: absolute;
  left: 30px;
  width: 18%;
}

.new-cat {
  height: 200px;
  position: fixed;
  left: 0;
  bottom: 0;
}

/*Mary's styling for files page*/
.main-content { 
  position: absolute;
  margin-left: 20%;
  height: 0; 
}

.add-file {
  position: relative;
  padding: 1em;
  font-size: 24px;
  font-family: 'Architects Daughter', cursive; 
}


.dropdown-menu {
  width: 300px !important;
}

.dropdown-menu li {
  padding: 10px;
}

.category-name {
  color: white;
}

.category-container {
  margin-bottom: 5em;
}

.btn {
  font-family: 'Architects Daughter', cursive; 
}