body { font-family: Helvetica, Arial, sans-serif; font-weight: lighter; margin: 0; overflow-y: scroll; }

a { text-decoration: none;}
a:link {}
a:visited{}
a:hover {}
a:active{}
a:focus{}

nav {
  position: fixed;
  background: rgba(0,0,0,.15);
  left: 0;
  padding: 0 1em;
  right: 0;
  top: 0;
  z-index: 1;
}
nav,
nav a {
  color: rgb(255,255,255);
  display: block; 
  padding: 1em;
  line-height: 1em;
}
 
nav .login {float: right;}
nav .brand {float: left;}


.jumbotron {
  top: 0;
  right: 0;
  left: 0;
  background: url('../images/IMG_3073.jpg') rgb(50, 50, 50) 50% 100%;
  background-size: cover;
  color: rgb(255,255,255);
  height: 30em;
  padding: 1em;
  position: absolute;
}
.jumbotron header {
  text-align: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


#main {
  margin-top: 10em;
  max-width: 60em;
  padding:1em 1em 10em;
}

