  <nav class="container-fluid">
        <div>
          <a id="logo" href="/" class="btn btn-lg pull-left">Travel Wallet</a>
        </div>
            <div class="container"> 
              <% unless current_user %>
                <a class="btn btn-lg pull-right" href="#signup" data-toggle="modal" data-target=".bs-modal-sm">Sign In/Register</a>
              <% else %>
                
                <a class="btn btn-lg btn-md pull-right" href="/logout">Log out</a>
                <a class="btn btn-lg btn-md pull-right" href="/users/<%= @user.id %>">My files</a>
              <% end%>        
            </div>
      </nav>