<!-- landing page
the nav bar will be persistent at the top of the page
jumbotron image cover 1/3 to 1/2 of the page
how it works
icon + Profile
icon + Upload
icon + Share -->
<script src="/javascript/jssor.js"></script>
<script src="/javascript/jquery-1.9.1.min.js"></script>
<script src="/javascript/jssor.slider.js"></script>
<script>
    jQuery(document).ready(function ($) {
        var options = { $AutoPlay: true };
        var jssor_slider1 = new $JssorSlider$('slider1_container', options);
    });
</script>


<section id="splash" class="jumbotron">
  <header>
  <div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 1000px; height: 300px;">
    <!-- Slides Container -->
    <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 600px; height: 300px;">
        <div>
          <div u="image" style="background: url(../images/IMG_3073.jpg) 50% 50%; background-size: cover; height: 300px; width: 600px;"></div>
        </div>
        <div>
          <div u="image" style="background: url(../images/IMG_3697.jpg) 50% 50%; background-size: cover; height: 300px; width: 600px;"></div>
        </div>

        <!-- <div><img u="image" src="../images/IMG_3073.jpg" /></div>
        <div><img u="image" src="../images/IMG_3697.jpg" /></div> -->
    </div>
  </div>
    <h1>Join Travel Wallet now</h1>
    <p>Store all your important travel documents in one place</p>
    </header>
</section>
<main>
  <div class="container">
    <div class="row">

      <div class="col-sm-4 col-sm-offset-4">
        <h1 id="hook">How it works</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h2><span class="glyphicon glyphicon-user"></span>Profile</h2>
        <p>Create a profile for free and view all your documents</p>
      </div>
      <div class="col-sm-4">
        <h2>Upload</h2>
        <p>Upload all your travel documents</p>
      </div>
      <div class="col-sm-4">
        <h2>Share</h2>
        <p>Keep your friends and family in the loop</p>
      </div>
    </div>
  </div>
</main>
