<!DOCTYPE html>
<html lang="en">
<head>
  
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title>Travel Wallet</title>
</head>
<body>
  <nav class="container-fluid">
    <div class='container'>
      <%= yield %>
    </div>
  </nav>
</body>
</html>
